.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    color: white;
    width: 295px;
    height: 90px;
    border-radius: 15px;
    text-transform: uppercase;
}

.frontend {
    background-color: var(--Front-Color);
}

.backend {
    background-color: var(--Back-Color);
}

.inovacao {
    background-color: var(--Inovacao-Color);
}

.gestao {
    background-color: var(--Gestao-Color);
}