@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secundary: 'Source Sans 3', sans-serif;

  --Dark-Gray: #262626;
  --Border-Color-Primary: #2271D1;
  --Front-Color: #6BD1FF;
  --Back-Color: #00C86F;
  --Inovacao-Color: #FFBA05;
  --Gestao-Color: #c600d8;

  /* card config vars */
  --Size-Card: 432px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Dark-Gray);

}