.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 125px;
    border-bottom: 4px solid var(--Border-Color-Primary);
    box-shadow: 0 5px 29px 0 rgba(221, 236, 255, 0.7);
    position: relative;
    z-index: 2;
}

.buttonContainer {
    display: flex;
    gap: 25px;
}

img {
    width: 168px;
}