.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background: none;
  border: none;
}

.title {
  margin: 20px 0;
  border: 1px solid white;
}

.carregando {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 100vh;
  color: white;
  font-size: 40px;
}