.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px 0 40px;
  background: none;
  border: none;
}

.title {
    margin: 20px 0;
    border: 1px solid white;
}