.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-blend-mode: darken !important;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 80vh;
    flex-shrink: 0;
    color: white;
    border: 2px solid var(--Border-Color-Primary);
    border-top: none;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 662px;

}

.infoContainer>p {
    text-align: justify;
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: 18px;

}

.textTitle {
    padding-bottom: 10px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 46px;
}

.video {
    position: relative;
    iframe {
        width: 646px;
        height: 333px;
        border-radius: 5px;

    }
}

.video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 99%;
    border-radius: 5px;
    /* Sombra interna */
    pointer-events: none;
    /* Permite interação com o iframe */
    z-index: 1;
    /* Coloca a sombra acima do iframe */
}
/* FRONT */
.frontend.video::before {
    box-shadow: 0px 0px 17px 8px var(--Front-Color) inset;
}


/* BACK */
.backend.video::before {
    box-shadow: 0px 0px 17px 8px var(--Back-Color) inset;
}


/* INOVAÇÃO */
.inovacao.video::before {
    box-shadow: 0px 0px 17px 8px var(--Inovacao-Color) inset;
}


/* GESTAO */
.gestao.video::before {
    box-shadow: 0px 0px 17px 8px var(--Gestao-Color) inset;
}